[Unit]
Description=Raspberry Pi Power Button

[Service]
Type=simple
ExecStart=/usr/local/bin/btemu-power --conf /etc/btemu.conf
LimitNPROC=1
ProtectHome=true
ProtectSystem=full

[Install]
WantedBy=multi-user.target
