[Unit]
Description=Raspberry Pi Custom Controller Keyboard/Mouse Event Forwarder
Before=bluetooth.service

[Service]
Type=simple
ExecStart=/usr/local/bin/btemu-hid --conf /etc/btemu/btemu.conf
LimitNPROC=1
ProtectHome=true
ProtectSystem=full

[Install]
WantedBy=multi-user.target
