[Unit]
Description=Raspberry Pi Custom Controller Bluetooth Pairing Agent
Before=bluetooth.service

[Service]
Type=simple
ExecStart=/usr/local/bin/btemu-agent --conf /etc/btemu.conf
LimitNPROC=1
ProtectHome=true
ProtectSystem=full

[Install]
WantedBy=multi-user.target
